@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif !important;
  color: white;
}
html,
body {
  height: 100% !important;
}
.ant-input-outlined {
  background-color: transparent !important;
  border-color: white !important;
}

.ant-input-outlined input::placeholder {
  color: #ffffff;
  opacity: 0.6;
}
.custom-tree .ant-tree-treenode {
  width: 100%;
}

.custom-tree .ant-tree-node-content-wrapper {
  width: 100%;
}

.custom-tree .ant-tree-child-tree {
  padding-left: 0 !important;
}

.custom-tree .ant-tree-treenode-selected .ant-tree-node-content-wrapper {
  background-color: #212020 !important;
}

.ant-card-head,
.ant-card-body {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.ant-drawer-content-wrapper {
  width: 300px !important;
}
@media screen and (max-width: 640px) {
  .ant-drawer-content-wrapper {
    width: 100% !important;
  }
}

.reports-tabs .ant-tabs-nav::before {
  border-bottom: none !important;
}
.reports-tabs .ant-tabs-tab {
  border-radius: 0px !important;
  margin-left: 0px !important;
}
.reports-tabs .ant-tabs-tab:nth-child(1) {
  border-radius: 6px 0px 0px 6px !important;
}
.reports-tabs .ant-tabs-tab:nth-child(3) {
  border-radius: 0px 6px 6px 0px !important;
}

.schdeule .ant-picker-panel{
  background-color: #313131 !important;
}

@media screen and (max-width: 1280px) {
  .schdeule .ant-picker-body {
    overflow-x: auto !important;
  }
  .schdeule .ant-picker-date-panel table {
    width: 1000px !important;
  }
}
@media screen and (max-width: 768px) {
  .schdeule .ant-picker-date-panel table {
    width: 800px !important;
  }
}
